body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  background-color: hsl(0, 0%, 6%);
  color: hsl(0, 0%, 88%);
}

input {
  background-color: hsl(0, 0%, 6%);
  color: hsl(0, 0%, 88%);

  border: 1px solid hsl(0, 0%, 30%);
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
}

button {
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 88%);

  border: 1px solid hsl(0, 0%, 30%);
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

#library {
  gap: 8px;
  width: 400px;
}

.three-column-layout {
  height: calc(100vh - 64px);
  gap: 32px;
  margin: 32px;
}

#editor {
  gap: 8px;
  width: 100%;
}

#story-content {
  resize: none;
  height: 100%;
  overflow-y: auto;

  border: 1px solid hsl(0, 0%, 30%);
  border-radius: 8px;
  padding: 8px;
}

#story-content > * {
  margin: 0;
  margin-bottom: 16px;
}

#action-bar {
  gap: 8px;
}

#action-bar > div {
  gap: 8px;
  width: 100%;
}

#action-bar-right {
  flex-direction: row-reverse;
}

/* Action bar icons should look square and small */
#action-bar-left > button {
  aspect-ratio: 1;
  padding: 4px;
}

.popup-form {
  margin: auto;

  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100vh;
}
