:root {
  --neutral-color-1: hsl(0, 0%, 6%);
  --neutral-color-2: hsl(0, 0%, 12%);
  --neutral-color-3: hsl(0, 0%, 24%);
  --neutral-color-4: hsl(0, 0%, 30%);
  --neutral-color-5: hsl(0, 0%, 50%);
  --neutral-color-6: hsl(0, 0%, 70%);
  --neutral-color-7: hsl(0, 0%, 76%);
  --neutral-color-8: hsl(0, 0%, 88%);
  --neutral-color-9: hsl(0, 0%, 94%);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--neutral-color-8);

  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-color-1);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-right {
  display: flex;
  flex-direction: row-reverse;
}

.width-fill-max {
  gap: 8px;
  width: 100%;
}

.input-secondary,
.button-secondary {
  background-color: transparent;

  border: 1px solid var(--neutral-color-4);
  border-radius: 8px;
  padding: 8px;

  transition: border-color 0.15s ease-out;
}

.input-secondary:hover,
.button-secondary:hover {
  border-color: var(--neutral-color-5);
}

.input-secondary {
  background-color: var(--neutral-color-1);
}

.button-secondary {
  background-color: var(--neutral-color-2);
}

.button-secondary:active {
  background-color: var(--neutral-color-3);
}

.button-secondary:disabled {
  background-color: var(--neutral-color-1);
  border-color: var(--neutral-color-3);
}

.path-icon {
  fill: var(--neutral-color-8);
}

.popup-form {
  margin: auto;

  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100vh;
}

#main-app-layout {
  height: calc(100vh - 64px);
  gap: 32px;
  margin: 32px;
}

.side-column {
  gap: 8px;
  width: 400px;
}

#story-content {
  height: 100%;
  overflow-y: auto;
}

#story-content > * {
  margin-bottom: 16px;
}

#story-content[contenteditable="false"] {
  background-color: black;
  border-color: var(--neutral-color-3);
}

/* Action bar icons should look square and small */
#action-bar-left > button {
  aspect-ratio: 1;
  padding: 4px;
}

/* Darken icons when buttons are disabled. Currently used only for specific action bar buttons */
button:disabled .path-icon {
  fill: var(--neutral-color-5);
}

#login-form {
  width: 400px;
  flex-grow: 1;
}

/* A hack to align the label and input */
#login-form > label {
  transform: translateX(-8px);
}

#login-form > input,
#login-form > label {
  width: 100%;
}
